<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<p>
    <a href="/addtable/">创建表单</a>
</p>

<p>
    <a href="/deletetable/">删除表单</a>
</p>

<p>
    <a href="/addgoods/">添加商品</a>
</p>

<p>
    <a href="/showgoods/">商品列表</a>
</p>

<p>
    <a href="/goods/">单个商品</a>
</p>


<p>
    <a href="/addgrade/">添加班级</a>
</p>

<p>
    <a href="/showgrade/">显示班级信息</a>
</p>

<p>
    <a href="/addstudent/">添加学生信息</a>
</p>

<p>
    <a href="/showstudent/">显示学生信息</a>
</p>

<p>
    <a href="/updatestudent/">更新学生信息</a>
</p>

<p>
    <a href="/deletestudent/">删除学生信息</a>
</p>

</body>
</html>